/web/node_modules
/web/yarn.lock
/web/components.d.ts
/web/auto-imports.d.ts
/web/.vscode
/web/yarn-error.log
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/clockwork
/vendor
/public/uploads
/fixer
/catch
.env
.env.backup
.env.production
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
auth.json
composer.lock
/.fleet
/.idea
/.vscode
/ai
nohup.out
./storage/uploads
rr
.rr.yaml
/api-doc/node_modules
/api-doc/yarn.lock
/api-doc/yarn-error.log
/api-doc/.vscode
/api-doc/.idea
/api-doc/docs/.vitepress/cache
/api-doc/postman.json
*~
